body{
     background-color:  turquoise;
     margin-left: 20%;
     margin-left: 20%;
     border-width: 2px;
     border-style: solid;
     border-color: black;
     padding-left: 10px;
     padding-right: 10px;
}

h1{
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color:yellow;
}
#header{
    background-color: teal;
    text-align: center;
}

img {
     border-radius: 50%;
     width: 50%;
     height: 25%;
     border-width: 1px;
     border-style: solid;
     border-color: black;
     display: block;
     margin-left: 25%;
     margin-right: 25%;
}

#list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;
 
}

#navlinks {
    position: fixed;
}

#footer{
    background-color: teal;
    text-align: center;
}
